---
import CocktailItemImageLeft from "./CocktailItemImageLeft.astro";
import CocktailItemTextLeft from "./CocktailItemTextLeft.astro";
// drinks: array of { id, title, subtitle, types: string[], image }
const { drinks = [] } = Astro.props;
---

<section class="cocktail-section w-full">
		<div class="w-full  grid gap-6 mx-auto pt-0">
	<div class="carousel carousel-vertical h-screen w-full">
			{
				drinks.map((d, i) =>
					i % 2 === 0 ? (
						<div class="carousel-item h-full w-full">
							<CocktailItemImageLeft drink={d} backgroundImage={d.backgroundImage} />
						</div>
					) : (
						<div class="carousel-item h-full w-full">
							<CocktailItemTextLeft drink={d} backgroundImage={d.backgroundImage} />
						</div>
					)
				)
			}
		</div>
	</div>
</section>
