---
import Image from "astro/components/Image.astro";
import separatorImg from '../../assets/separator.webp';
---

<div class="overflow-x-clip w-full">
  <Image src={separatorImg} alt="Separator" class="" />
</div>